<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>PC</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
    </head>
    <style>
        .center{
            margin: auto;
            width: 50%;
            padding: 10px;
    }
        .paper {
            border: 2px solid black;
            margin: auto;
            width: 30%;
        }
        .hidden {
            display: none;
        }

    </style>

<script>
    function myFunction() {
      var txt;
      if (confirm("Confirm all submitters have claimed their submitted papers.")) {
        xhr.open("POST", "/confirmowner");
      } else {
      }
    }
    </script>
    
    <body style="background: lightgray;">
        <h2>Confirm ownership of accepted papers</h2>
        <div style="text-align: center;">
            <p>Accepted papers:</p> 
            {{range .Papers}}
            <div class="paper" style="display: flex; justify-content: center; flex-direction: column">
                <div class="center">
                    <form action="/confirmowner" method="POST">
                        <p>Paper title: {{.Title}}</p> 
                        <p>Grade: {{.Grade}}</p>
                        <button onclick="myFunction()" type="submit">Confirm ownership</button>
                        <input class="hidden" type="text" name="paperid" value="{{ .ID }}" ></input>
                    </form>
                </div>   
            </div>
            <br>
            {{end}}
            <form action="/confirmowner" method="GET">
                <button>
                    Check confirmed owners
                </button>
                <div>
                    {{ .Status }}
                </div>
            </form>
        </div>
    </body>
</html>