<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>PC</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
    </head>
    <style>
        .center{
            margin: auto;
            width: 50%;
            padding: 10px;
    }
        .paper {
            margin: auto;
            width: 30%;
        }
        .hidden {
            display: none;
        }

    </style>

<script>
    function myFunction() {
      var txt;
      if (confirm("Confirm all submitters have claimed their submitted papers.")) {
        xhr.open("POST", "/confirmowner");
      } else {
      }
    }
    </script>
    
    <body style="background: lightgray; text-align: center;">
        <h2 style="margin-top: 72px;">Confirm ownership of accepted papers</h2>
        <div>
            <p>Accepted papers:</p> 
            {{range .Papers}}
            <div class="paper" style="display: flex; justify-content: center; flex-direction: column">
                <div class="center">
                    <form action="/confirmowner" method="POST">
                        <p>Paper title: {{.Title}}</p> 
                        <p>Grade: {{.Grade}}</p>
                        <input class="hidden" type="text" name="paperid" value="{{ .ID }}" ></input>
                    </form>
                </div>   
            </div>
            <br>
            {{end}}
            <form action="/confirmowner" method="GET">
                <button>
                    Check confirmed owners
                </button>
            </form>
                {{ if .ShowButton }}
                    <div>
                        <form method="POST" action="/confirmowner">
                            <button onclick="myFunction()" type="submit">Confirm ownership</button>
                        </form>
                    </div>
                {{ end }}
            <div>
                {{ .Status }}
            </div>
        </div>
    </body>
</html>