<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>PC</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
    </head>
    <style>
        .center{
            margin: auto;
            width: 50%;
            padding: 10px;
    }
        .paper {
            border: 2px solid black;
            margin: auto;
            width: 30%;
        }
        .hidden {
            display: none;
        }

    </style>
    <body style="background: lightgray; text-align: center; margin-top: 68px;">
        <h1>㋡_㋡ Decision ㋡_㋡</h1>
        <div>
            <h3>Graded papers</h3> 
            {{range .Messages}}
            <div class="paper" style="display: flex; justify-content: center; flex-direction: column">
                <div class="center">
                    <form action="/decision" method="POST">
                        <p>Paper title: {{.Title}}</p> 
                        <input class="hidden" type="text" name="paperid" value="{{ .ID }}" ></input>
                        <p>Grade: {{.Grade}}</p>  
                        <button type="submit">Accept</button>
                        <button formaction="/rejectpaper" type="submit">Reject</button>
                    </form>
                </div>   
            </div>
            {{end}}
            {{ if .CanCompile }}
            <div style="margin-top: 10px;">
                <form action="/compilegrades" method="POST">
                    <button type="submit">Compile grades</button>
                </form>
            </div>
            {{ end }}
        </div>
    </body>
</html>