<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>PC</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
    </head>
    <body style="background: lightgray;">
        <h2>Decision</h2>
        <div style="text-align: center;">
            <p>Graded papers:</p> 
            {{range .}}
            <div style="display: flex; justify-content: center; flex-direction: column">
                <p>{{.Title}}</p> 
                <p>{{.Grade}}</p> 
                <button>Accept</button>
                <button>Reject</button>
            </div>
            {{end}}
        </div>
    </body>
</html>