<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>PC</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
    </head>
    <body>
        <div style="text-align: center;">
          <p>Status: {{ .Status}}</p>
          <form action="/getallbids" method="GET">
            <button type="submit" style="margin-bottom: 30px;">Get bids</button>
          </form>
          {{ if .ShowBool }}
          <p>{{ .PaperBidCount }} / {{ .UsersLength}} reviewers have made bids. </p>
          {{ end }}
          <form action="/sharereviews" method="GET">
            <button type="submit">Match papers</button>
          </form>
        </div>
    </body>
</html>