<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>PC</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
    </head>
    <body style="background: lightgray;">
        <div style="text-align: center;">
          <h1>PC</h1>
          <label>Choose submission deadline</label>
          <input type="datetime-local">
          <button style="margin-bottom: 30px;">Set deadline</button>
          <a href="/">
            <button>Get submitted papers</button>
          </a>
          <br>
          <a href="/bidwait">
            <button>Send papers to reviewers</button>
          </a>
          <br>
          <p>{{.Submissions}}/{{.SubmittersLength}} submitters have submitted papers.</p>
          <br>
          <div>
            {{ range .Submitters }}
              <p>{{.}}</p>
            {{ end }}
          </div>
        </div>
    </body>
</html>