<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>PC</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
    </head>
    <body style="background: lightgray;">
        <div style="text-align: center; margin: auto; width: 50%;">
          <div>
            <blockquote>
                <table style="margin: 0 auto;">
                
                    <!-- Table header -->
                
                    <thead>
                    <tr>
                        <th>Paper Title</th>
                        <th>Reviewers</th>
                    </tr>
                    </thead>
                
                    <!-- Table body -->
                
                    <tbody>
                    {{ range .Msgs }}
                    <tr>
                        <td>{{ .Title }}</td>
                        <td>{{ .ReviewerIds }}</p></td> 
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </blockquote>   
        </div>
        {{ if .ProceedToDecision }}
            <div>
                <a href="/decision">
                    <button>
                        Proceed to decision
                    </button>
                </a>
            </div>
        {{ end }}

        {{ if .ProceedToShareReviews}}
            <div>
                <form action="javascript:var rslt=confirm('Confirm all reviewers have made reviews.');if(rslt){window.location.replace('/collectreviews')}else{}" method="POST"> 
                    <button type="submit"> 
                        Share all reviews with other reviewers of same paper 
                    </button>
                </form>
            </div>
        {{ end }}

            <a href="/checkreviews">
                <button>
                    Check reviews
                </button>
            </a>
            <div>
                {{ .Reviews }}
            </div>
        </div>
    </body>
</html>