<html>
<head>
<title></title>
</head>
<body>
<h1>Submit paper</h1>
<form>
    <a href="submission" class="button">Go to submission</a>
    <a href="review" class="button">Go to review</a>
    <a href="discussion" class="button">Go to discussion</a>
    <a href="log" class="button">Go to log</a>
  </form>
 </body>
</html>