<html>
<head>
<title></title>
</head>
<body>
<h1>Submit paper</h1>
<ul>
  <li><a href="submission" class="button">Go to submission</a></li>
  <li><a href="review" class="button">Go to review</a></li>
  <li><a href="discussion" class="button">Go to discussion</a></li>
  <li><a href="log" class="button">Go to log</a></li>
  <li><a href="register" class="button">Go to register</a></li>
  <li><a href="login" class="button">Go to login</a></li>
</ul>

<p> Hi {{.Username}}, you're logged in as a: {{.UserType}}</p>

</body>
</html>