<html>
<head>
<title>Submission</title>
</head>
<body>
<h1>Submit paper</h1>

<form>
    <label for="fname">First name:</label><br>
    <input type="text"><br><br>
    <label for="lname">Last name:</label><br>
    <input type="text"><br><br>
    <label for="fname">Email:</label><br>
    <input type="email"><br><br>
    <button type="button">Upload</button>
    <input type="submit" value="Submit">
  </form> </body>
</html>