<html>
<head>
<title>Submission</title>
</head>
<body>
<h1>Submit paper</h1>
<form action="/">
    <label>First name:</label><br>
    <input type="text"><br><br>

    <label>Last name:</label><br>
    <input type="text"><br><br>

    <label>Email:</label><br>
    <input type="email"><br><br>

    <label>Title:</label><br>
    <input type="text"><br><br>

    <label>Secret:</label><br>
    <input type="email"><br><br>
    
    <button type="button">Upload</button>
    <input type="submit" value="Submit">
  </form> </body>
</html>