<!DOCTYPE html>
<html lang="en">
<title>The log</title>
<style>
    table, th, td {
  border: 1px solid gray;
}
</style>
<body style="background: lightgray;">
    <div>
        <blockquote>
            <table>

                <!-- Table header -->
    
                <thead>
                <tr>
                    <th>Id</th>
                    <th>State</th>
                    <th>Message</th>
                    <th>From user id</th>
                    <th>Value</th>
                    <th>Signature</th>
                </tr>
                </thead>
    
                <!-- Table footer -->
    
                <tfoot>
                <tr>
                    <td>END</td>
                </tr>
                </tfoot>
    
                <!-- Table body -->
    
                <tbody>
                {{ range . }}
                <tr>
                    <td>{{ .Id }}</td>
                    <td>{{ .State }}</td>
                    <td>{{ .LogMsg }}</td>
                    <td>[BINARY DATA]</td>
                    <td>[BINARY DATA]</td>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </blockquote>   
    </div>
</body>
</html>

