<!DOCTYPE html>
<html>
    <head>
      <title>Reviewer</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
            .center{
                margin: auto;
                width: 50%;
                padding: 10px;
            }
            .flexcolumn{
                display: flex;
                flex-direction: column;
                width: fit-content;
                display: inline-flex;
            }
      </style>
    </head>
    <body style="background: lightgrey">
        <div style="text-align: center; margin-top: 50px;">
            <h1>Bid on the papers you want to review</h1>
            <p>Submitted papers: </p>
            <div class="center">
                <form action="/sendbid" method="POST">
                    {{ range . }}
                    <input type="checkbox" id="{{ .Id }}" name="paperbid" value="{{ .Id }}">
                    <label> {{ .Title }} </label><br>
                    {{ end }}
                    <div class="flexcolumn" >
                        <input style="margin-bottom: 2px; margin-top: 2px;" type="submit" value="Send bid(s)">
                        <input type="submit" value="Download selected papers" formaction="/downloadpaper" formmethod="GET">
                    </div>
                </form>
            </div>            
        </div>
    </body>
</html>