<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="../../public/css/graded.css" type="text/css" rel="stylesheet">
  <title>Graded</title>
</head>
<body>
<h1>Your paper has been graded</h1>
<br>
<h3>Your paper has been reviewed</h3>
<br>
<h3>Status: </h3>
<h3 id="status"></h3>
<br>
<h3>Grade: </h3>
<h3 id="grade"></h3>
<div id="footer">
    <div id="footerleftpane" runat="server">
        <dnn:LOGO id="dnnLogo" runat="server" />
        <h3>Driving business performance.</h3>
        <h3>Practical Sales and Operations Planning</h3>
        <h3>for medium sized businesses.</h3>
    </div>
    <div id="footerRightPane" runat="server">
        <dnn:COPYRIGHT id="dnnCopyright" runat="server" /><br />
        <dnn:PRIVACY id="dnnPrivacy" runat="server" />
        <dnn:TERMS id="dnnTerms" runat="server" />
    </div>
    <div id="footerMidPane" runat="server"></div> 
</div>
</body>
</html>