<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Submitter</title>
      <style>
        .center{
            margin: auto;
            width: 50%;
            padding: 10px;
        }


        .flexrowcenter{
            display:flex; 
            flex-direction: row; 
            gap: 8px; 
            justify-content: center;
        }

        .smoothborder{
            border-radius: 4px; 
            border-color: grey;
        }
      </style>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
    </head>
    <body style="background: lightgrey;">
        <div style="margin: auto; width: 50%; padding: 10px; text-align: center;">
            <h2 style="margin-bottom: 50px;">You have submitted a paper</h2>
            <p>Your paper has been reviewed</p>            
            <p>Status: {{ .Status }}</p>
            <p>Grade: {{ .Grade }}</p>
            {{ if .CanConfirm}}            
            <form action="/claimgrade" method="GET">
                <button>Claim paper</button>          
            </form>
            {{ else}}
            <h1>Thank you for participating as a submitter! 📝😉 </h1>
            {{ end }}
            <div class="flexrowcenter">
                {{ range .Reviews}}
                <div>
                    <p>
                        Your review
                    </p>
                    <textarea readonly style="resize: none;" class="smoothborder" rows="4" cols="50">
{{ .Review }}
                    </textarea>
                </div>
                {{ end }}
            </div>
        </div>
    </body>
</html>