<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Submitter</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
    </head>
    <body style="background: lightgrey;">
        <div style="margin: auto; width: 50%; padding: 10px; text-align: center;">
            <h2 style="margin-bottom: 50px;">You have submitted a paper</h2>
            <p>Your paper has been reviewed</p>            
            <p>Status: {{ .Status }}</p>
            <p>Grade: {{ .Grade }}</p>            
            <form action="/claimgrade" method="GET">
                <button>Claim paper</button>          
            </form>
            <div class="flexrowcenter">
                {{ range .Reviews}}
                <div>
                    <textarea readonly style="resize: none;" class="smoothborder" rows="4" cols="50">
{{ .Review }}
                    </textarea>
                </div>
                {{ end }}
            </div>
        </div>
    </body>
</html>