<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Submitter</title>
</head>
  <body>
    <h1>Submit paper</h1>
      <div style="width: 500px">
        <form enctype="multipart/form-data" action="/upload" method="POST">
          <label>Your name:</label>
          <input name="name" type="text" style="width: 100%"/> 
          <label>Paper title:</label>
          <input type="text" style="width: 100%"/> 
            <input type="file"  name="myFile"/>
            <input type="submit" value="Submit"/>
        </form>
      </div> 
  </body>
</html>