<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Submission</title>
</head>
  <body>
    <h1>Submit paper</h1>
      <div style="width: 500px">
        <form enctype="multipart/form-data" action="http://localhost:4000/v1/api/logmsg" method="POST">
            <label>Paper title:</label>
            <input type="text" style= "width: 100%"> 
            <input type="file"  name="myFile" />
            <input type="submit" value="Submit"/>
        </form>
      </div>
  </body>
</html>